{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if not successful_process %}
        <h1>Enter a link</h1>
        <form method="get">
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
    {% else %}
        <h1>Enter a link</h1>
        {{ form | crispy }}
        <hr>
        {% for k,v in content_info.items %}
            {% if k == 'Thumbnail Url' %}
                <img src="{{ v }}" alt="{{ v }}" height="360px" width="360px"></img>
            {% elif k == 'Url' %}
                <h3>{{ k }}: <a href="{{ v }}">{{ v }}</a></h3>
            {% elif v %}
                <h3>{{ k }}: {{ v }}</h3>
            {% endif %}
        {% endfor %}
        <hr>
        <h2>Do you want to download it?</h2>
        <p>
            <form method="get" action="{% url 'download-content' content_pk %}">
                <button type="submit" class="btn btn-primary">Download</button>
            </form>
        </p>
    {% endif %}

{% endblock %}
